/** Campagne Pay4pro CM **/

h1.paddings {
    padding-bottom: 10px;
}

p.infos {
    padding-top: 1Opx!important;
}

.cta {
    padding-bottom: 21px;
}

h1.paddings {
    font-size: 1.8rem!important;
}