.cc.ctxt-need article > .ctxt-details article .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cc.ctxt-need article > .ctxt-details article .flex > figure, .cc.ctxt-need article > .ctxt-details article .flex > div {
    flex: 1 1 45%;
}

.cc.ctxt-need article > .ctxt-details article .flex > figure {
	margin-right: 30px;
}

.cc.ctxt-need article > .ctxt-details article .points {
    color: #3f8bd2;
    display: flex;
    justify-content: center;
}

.cc.ctxt-need article > .ctxt-details article .points a {
    text-decoration: none;
}

.cc.ctxt-need article > .ctxt-details article .points a span {
    text-decoration: underline;
}

.cc.ctxt-need article > .ctxt-details article .points li {
    flex: 1 1 30%;
    margin-top: 30px;
}

.cc.ctxt-need article > .ctxt-details article .points li .picto {
	font-size: 50px;
	line-height: 55px;
	display: block;
	text-decoration: none;
}

.cc.ctxt-need .border img {
	width: 100%;
}

@media screen and (max-width: 768px) {
	.cc.ctxt-need article > .ctxt-details article .points {
		flex-wrap:wrap;
		justify-content: flex-start;
	}
	.cc.ctxt-need article > .ctxt-details article .points li {
	    flex: 0 1 50%;
	}
	.cc.ctxt-need article > .ctxt-details article .flex > figure, .cc.ctxt-need article > .ctxt-details article .flex > div {
	    flex: 1 1 100%;
	}
	.cc.ctxt-need article > .ctxt-details article .flex > figure {
		text-align: center;
		margin-bottom: 20px;
	}
}